html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.input, .button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    box-sizing: border-box;
}

.error {
    color: red;
}

.success {
    color: green;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    margin: 10px;
    letter-spacing: normal;
    color: mediumpurple;
}

.nav-link:hover {
    color: aquamarine;
    letter-spacing: 2px;
}

.nav-link:active {
    color: mediumpurple;
}

.nav-link :visited {
    color: mediumpurple;
}

.index-body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.index-content {
    background: linear-gradient(-90deg, black, gray, white);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 512px;
}

.register-body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.register-content {
    background: linear-gradient(-90deg, black, gray, white);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 512px;
}

.register-form {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.register-ctr {
    width: 240px;
}

.register-girl-box {
    position: relative;
    width: 100%;
    height: 512px;
    flex: 2 1 auto;
}

.register-girl {
    position: relative;
    animation: shake 30s ease infinite;
    background-image: url('girl.png');
    background-repeat: no-repeat;
    width: 513px;
    height: 512px;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

